<div class="col-md-12">

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">用户浏览器数据</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="">
                        <canvas id="pieChart" height="217" width="303" style="width: 243px; height: 174px;"></canvas>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="chart-legend clearfix">
                        <li><i class="fa fa-circle-o text-red"></i> Chrome</li>
                        <li><i class="fa fa-circle-o text-green"></i> IE</li>
                        <li><i class="fa fa-circle-o text-yellow"></i> FireFox</li>
                        <li><i class="fa fa-circle-o text-aqua"></i> Safari</li>
                        <li><i class="fa fa-circle-o text-light-blue"></i> Opera</li>
                        <li><i class="fa fa-circle-o text-gray"></i> Navigator</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-footer no-padding">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="#">
                        <span class="pull-right"><i></i></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">党员数量增量统计</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-wrench"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <strong>2018年01月 - 2018年12月</strong>
                    </p>

                    <div class="chart">
                        <canvas id="salesChart" style="height: 180px; width: 816px;" width="1020" height="225"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


