@model PBP.Web.Models.Domain.Suggestion

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Suggestion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SendEmail" class="control-label"></label>
                <input asp-for="SendEmail" class="form-control" />
                <span asp-validation-for="SendEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcceptEmail" class="control-label"></label>
                <input asp-for="AcceptEmail" class="form-control" />
                <span asp-validation-for="AcceptEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendTime" class="control-label"></label>
                <input asp-for="SendTime" class="form-control" />
                <span asp-validation-for="SendTime" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Guid" />
            <div class="form-group">
                <label asp-for="CreateTime" class="control-label"></label>
                <input asp-for="CreateTime" class="form-control" />
                <span asp-validation-for="CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
