@model PBP.Web.Models.Domain.Account

@{
    ViewData["Title"] = "用户注册";
}

<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">新建用户</h3>
        </div>
        <form asp-action="Create" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="box-body">
                <div class="form-group">
                    <label asp-for="UserName" class="control-label col-sm-2">用户名称</label>
                    <div class="col-sm-6">
                        <input asp-for="UserName" class="form-control"/>
                    </div>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label col-sm-2">用户密码</label>
                    <div class="col-sm-6">
                        <input asp-for="Password" class="form-control"/>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="box-footer">
                <a asp-action="Index" class="btn btn-default btn-sm">返回</a>
                <input type="submit" value="确认" class="btn btn-primary pull-right btn-sm"/>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}