@model PBP.Web.Models.Domain.Account

@{
    ViewData["Title"] = "删除用户";
}

<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">删除用户</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <dl class="dl-horizontal">
            <dt>用户名称</dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt>用户密码</dt>
            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
        </dl>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Guid"/>
            <input type="submit" value="删除" class="btn btn-danger pull-right btn-sm"/>
            <a asp-action="Index" class="btn btn-default btn-sm">返回</a>
        </form>
    </div>
    <!-- /.box-footer-->
</div>